<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aksarasunda">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".hasilsoalgambar"></activity>
        <activity android:name=".soalgambar" />
        <activity android:name=".menu_pungtuasi" />
        <activity android:name=".KonversiAksara" />
        <activity android:name=".hasilsoalpg" />
        <activity android:name=".soalpg" />
        <activity android:name=".menu_rarangken" />
        <activity android:name=".menu_angka" />
        <activity android:name=".menu_swara" />
        <activity android:name=".menu_ngalagena" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>